<link rel="stylesheet" type="text/css" href="/css/index.css">
<div id="flex-container" class="container">
	<div class="row" style="margin-bottom: 30px;">
		<div class="col-md-10 col-md-offset-1">
			<a class="btn btn-orange btn-lg" href="/add_category" style="white-space: pre; width: 200px;"><i class="glyphicon glyphicon-plus"></i>   新板块</a>
			<a class="btn btn-default btn-lg" style="margin-left: 10px;">编辑板块</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<% ForumCategory.all.each do |i| %>
					<a class="col-lg-4 col-md-6 category-clip-wrapper" style="display: block; background-color: #<%= i.color %>; color: #fff; text-decoration: none;" href="/?c=<%= i.id %>">
						<div class="category-clip">
							<h3 style="font-size: 15pt; margin-top: 10px;"><%= i.title %></h3>
							<p style="min-height: 60px;"><%= i.description %></p>
							<hr style="margin: 5px 0; opacity: 0.4;">
							<span style="opacity: 0.8;"><strong>最后一次发表于：</strong><%= @recent_post_dates[i.id - 1] %></span>
						</div>
					</a>
				<% end %>
			</div>
		</div>
	</div>
</div>